


.container {
    display: flex;
    justify-content: center;
    font-family: "GoodDog New W00 Regular";
   background-color: white;
   background-image: url('../../assets/backround3.png');
   background-size: contain; 
 background-repeat: no-repeat; 
 background-position: center; 
 border-radius: 20px;
 padding: 20px; 
 margin: 20px auto;
 max-width: 800px;
  }
  
  .cardDetail {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    margin-top: 20px;
  }
  
  .cardImage img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .bottonClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "GoodDog New W00 Regular";
  }
  
  
  

  
  .cardTemperament span {
    font-weight: bold;
  }
  
 
  .list{
   
 display: inline-block;
 margin-right: 5px; 
 border-radius: 15px; 
 background-color: rgba(50, 220, 152, 0.375);
 padding: 5px 12px; 
 box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
}
.buttonDelete{
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    background-color: rgba(255, 0, 0, 0.404);
    cursor: pointer;
}
.buttonDelete:hover {
    background-color: #f0f0f0; 
    color: red

  }
  